form {
    margin-bottom: 1%;
}

#container {
    display: flex;
}

#today {
    color: white;
    background-color: #4daceb;
}

#five-day-div {
    display: flex;
}

#day-0, #day-1, #day-2, #day-3 {   
    margin-right: 5%; 
}

#day-0, #day-1, #day-2, #day-3, #day-4 {
    color: white;
    background-color: #231b47;
    padding: 2%;
}
